/*-- scss:defaults --*/


$white: #fff ;
$grey: #F4F4F4 ;
$black: #000000 ;
$yellow: #F4D464 ;
$orange: #EFB250 ;
$peach: #E44C44 ;
$crimson: #BC0424 ;
$blue: #142464 ;
$cyan: #1C7C8C ;
 
 //body stuff
$link-color: $peach ;
$body-color: $black ;
$body-bg: $grey ;
$link-color: $peach ;

//TOC
$toc-color: $blue ;

//headings
$headings-color: $blue; 

//code block stuff
$code-block-bg: $yellow;

//nav bar
$navbar-bg: $cyan ;
$navbar-fg: $grey; 


/*-- scss:rules --*/